* {
  box-sizing: border-box;
}

body {
  background-color: #ee7752;
}


a {
  text-decoration: none;
}

p {
  margin: 0;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.search-form input {
  width: 20%;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;

  padding: 8px 10px;
}

.search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: gainsboro;
  border-radius: 0 5px 5px 0;
  padding: 8px 20px;
  cursor: pointer;
}


.load-more {
    border: none;
    border-radius: 0.25rem;
    font-size: 24px;
    padding: 10px 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
      background-color: #007bff;
        color: #fff;
        display: block;
margin: 0 auto 30px auto;
  
}

.is-hidden {
  display: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -20px;
  padding-top: 30px;
  justify-content: center;
}

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}



.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.gallery-item__img {
  display: block;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: smaller;
}

.info-item:not(:first-child) {
  margin-left: 5px;
}